.Hello {
    text-align: center;
  }
  
  .Hello-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Hello-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  .Hello{
    display: block;
  }
  
  .Hello-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Hello-link {
    color: #61dafb;
  }
  
  .footer-container {
    background:#1f2d61;
    padding: 25px 50px;
    display:block;
  }
  
  a.footer {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }
  
  
  a.footer:hover {
    transform: translateY(-2px);
  }
  
  a.youtube {
    color: #eb3223;
  }
  
  a.facebook {
    color: #4968ad;
  }
  
  a.twitter {
    color: #49a1eb;
  }
  
  a.instagram {
    color: black;
  }
  
  @keyframes Hello-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  